# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Build
build/
dist/
*.egg-info/
*.egg
*.spec
MANIFEST

# Testing
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Virtual Environment
.venv/
venv/
env/
ENV/

# IDE
.idea/
.vscode/
tempCodeRunnerFile.py

# Environment
.env
.envrc

# Jupyter Notebook
.ipynb_checkpoints/

# Cache
.ruff_cache/

# Logs
*.log

# =========================================================
# DATA
# =========================================================

# Ignore all dataset files
data/**

# Keep folder structure
!data/
!data/raw/
!data/processed/

# Keep download link files
!data/raw/link_raw.txt
!data/processed/link_processed.txt

# =========================================================
# MODEL WEIGHTS
# =========================================================

# Ignore all trained weights
outputs/**

# Keep folder structure
!outputs/
!outputs/cnn/
!outputs/rtdetr/
!outputs/yolov8m/

# Keep download link file
!outputs/link_outputs.txt